//Bootstrap styles 
@import "node_modules/bootstrap/scss/bootstrap";

//Custom mixins
@import "mixins/mixins";

//Custom settings --
@import "settings";

//Component specific styles 
@import "components/callout";
